name: CI
on:
  pull_request:
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v5
      - uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: Dockerfile
  build:
    name: Build
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        with:
          push: false
          platforms: linux/amd64, linux/arm64
          context: .
